.Campo{
    color: white;
    background-color: #23272a;
    margin-top: 24px;
    margin-bottom: 12px;
}

.Campo input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #2c2f33;
    box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 14px;
}